{% extends "base.html" %}
{% block content %}
  <h2>Add Item to "{{ training_list.name }}"</h2>

  <form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.phrase.label }}<br>{{ form.phrase(size=60) }}</p>
    <p>{{ form.translation.label }}<br>{{ form.translation(rows=4, cols=60) }}</p>
    <p>{{ form.context.label }}<br>{{ form.context(rows=2, cols=60) }}</p>
    <p>{{ form.submit() }}</p>
  </form>

  <a href="{{ url_for('main.view_training_lists', text_id=training_list.text.id) }}">← Back to List</a>
{% endblock %}
